################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MsSqlHelper/v16/.suo
/DbLib/bin/Debug
/DbLib/obj/Debug
/packages/DumpExtensions.2.0.0
/MsSqlDbLib/bin/Debug
/MsSqlDbLib/obj
